/* 

[F2U] Pride Character Tags
Happy Pride month! This is a CSS import that will automatically apply a pride flag background to a bunch of different tags on your characters.

USE THIS CSS (Toyhouse Premium required!) by putting the following import in your global characters CSS:
@import '0/23546/4UZtFx/pride-character-tags';  
 
*/


/*Apply text border*/
a.badge[href$='tagged:lgbt'i], a.badge[href$='tagged:gay'i], a.badge[href$='tagged:asexual'i], a.badge[href$='tagged:ace'i], a.badge[href$='tagged:bisexual'i], a.badge[href$='tagged:aromantic'i], a.badge[href$='tagged:aro'i], a.badge[href$='tagged:nonbinary'i], a.badge[href$='tagged:nb'i], a.badge[href$='tagged:trans'i], a.badge[href$='tagged:transgender'i], a.badge[href$='tagged:genderqueer'i], a.badge[href$='tagged:genderfluid'i], a.badge[href$='tagged:pansexual'i], a.badge[href$='tagged:demigirl'i], a.badge[href$='tagged:demiboy'i], a.badge[href$='tagged:agender'i], a.badge[href$='tagged:lesbian'i], a.badge[href$='tagged:bi'i]
{
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color:white;
}

/* LGBT */
a.badge[href$='tagged:lgbt'i],
a.badge[href$='tagged:gay'i]
{
  background: linear-gradient(180deg, #FE0000 16.66%,
	#FD8C00 16.66%, 33.32%,
	#FFE500 33.32%, 49.98%,
	#119F0B 49.98%, 66.64%,
	#0644B3 66.64%, 83.3%,
	#C22EDC 83.3%);
}

/* ASEXUAL */

a.badge[href$='tagged:asexual'i],
a.badge[href$='tagged:ace'i]
{
	background: linear-gradient(180deg, #181818 25%, #A3A3A3 25%, 50%, #FFFFFF 50%, 75%, #800080 75%);
}


/* BISEXUAL */
a.badge[href$='tagged:bisexual'i],
a.badge[href$='tagged:bi'i]
{
  background: linear-gradient(180deg, #D60270 40%, #9B4F96 40%, 60%, #0038A8 60%);
}

/* AROMANTIC */
a.badge[href$='tagged:aromantic'i],
a.badge[href$='tagged:aro'i]
{
  background: linear-gradient(180deg, #39A33E 20%, #A2CF72 20%, 40%, #FFFFFF 40%, 60%, #A3A3A3 60%, 80%, #181818 80%);
}

/* NONBINARY */
a.badge[href$='tagged:nonbinary'i],
a.badge[href$='tagged:nb'i]
{
	background: linear-gradient(180deg, #FFF430 25%, #FFFFFF 25%, 50%, #9C59D1 50%, 75%, #181818 75%);
}

/* TRANS */
a.badge[href$='tagged:trans'i],
a.badge[href$='tagged:transgender'i]
{
	background: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

/* GENDERQUEER */
a.badge[href$='tagged:genderqueer'i]
{
	background: linear-gradient(180deg, #B57EDC 33.33%, #FFFFFF 33.33%, 66.66%, #4A8123 66.66%);
}

/* GENDERFLUID */
a.badge[href$='tagged:genderfluid'i]
{
	background: linear-gradient(180deg, #FF77A3 20%, #FFFFFF 20%, 40%, #BE18D6 40%, 60%, #181818 60%, 80%, #333EBD 80%);
}

/* PANSEXUAL */
a.badge[href$='tagged:pansexual'i]
{
	background: linear-gradient(180deg, #FF218C 33.33%, #FFD800 33.33%, 66.66%, #21B1FF 66.66%);
}

/* DEMIGIRL */
a.badge[href$='tagged:demigirl'i]
{
	background: linear-gradient(180deg, #7F7F7F 14.285%,
		#C3C3C3 14.285%, 28.57%, #FEAEC9 28.57%, 42.855%,
		#FFFFFF 42.855%, 57.14%, #FEAEC9 57.14%, 71.425%,
		#C3C3C3 71.425%, 85.71%, #7F7F7F 85.71%);
}


/* DEMIBOY */
a.badge[href$='tagged:demiboy'i]
{
	background: linear-gradient(180deg, #7F7F7F 14.285%,
		#C3C3C3 14.285%, 28.57%, #9AD9EB 28.57%, 42.855%,
		#FFFFFF 42.855%, 57.14%, #9AD9EB 57.14%, 71.425%,
		#C3C3C3 71.425%, 85.71%, #7F7F7F 85.71%);
}

/* AGENDER */
a.badge[href$='tagged:agender'i]
{
	background: linear-gradient(180deg, #181818 14.285%,
		#C3C3C3 14.285%, 28.57%, #FFFFFF 28.57%, 42.855%,
		#B8F483 42.855%, 57.14%, #FFFFFF 57.14%, 71.425%,
		#C3C3C3 71.425%, 85.71%, #181818 85.71%);
}

/* LESBIAN */
a.badge[href$='tagged:lesbian'i]
{
	background: linear-gradient(180deg, 
	  #d62900 14.285%,
		#ef7722 14.285%, 28.57%, 
		#ff9b55 28.57%, 42.855%,
		#ffffff 42.855%, 57.14%, 
		#d262a5 57.14%, 71.425%,
		#b65591 71.425%, 85.71%, 
		#a50062 85.71%);
}
